@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
  }
  
  body {
    @apply bg-gray-950 text-gray-100 font-poppins antialiased min-h-screen flex flex-col selection:bg-gray-800 selection:text-gray-100;
  }
}

/* Custom Grayscale Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
